<!-- 侧边栏 -->
<div class="aside">
    <!-- 个人资料 -->
    <div class="profile" id="person_msg">
        <!-- 头像 -->
    </div>
    <!-- 导航菜单 -->
    <div class="navs" id="lk_nav">

    </div>
</div>
<script src="./js/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        //0.处理选中
        let selectedTag = sessionStorage.getItem("selectedTag") || "one";
        let userSelectedTag = sessionStorage.getItem("userSelectedTag");
        let t_html = `
                <ul class="list-unstyled" id="lk_item">
                    <li>
                        <a tag="one" href="/back" class="${selectedTag === 'one' ? 'active':''}">
                            <i class="fa fa-area-chart"></i>
                            首页数据
                        </a>
                    </li>
                    <li>
                        <a tag="two" href="/back/source_list" class="${selectedTag === 'two' ? 'active':''}">
                            <i class="fa fa-users"></i>
                            幼教资源管理
                        </a>
                    </li>
                    <li>
                        <a tag="three" href="/back/s_list" class="${selectedTag === 'three' ? 'active':''}">
                            <i class="fa fa-calculator"></i>
                            轮播图管理
                        </a>
                    </li>
                    <li>
                        <a tag="four" href="/back/u_center" class="${selectedTag === 'four' ? 'active':''}">
                            <i class="fa fa-object-group"></i>
                            用户管理
                            <i class="arrow fa fa-angle-right"></i>
                        </a>
                        <ul id="user_item" class="list-unstyled" style="display: block">
                            <li>
                                <a tag="four_one" href="/back/u_center" class="${userSelectedTag === 'four_one' ? 'active':''}">
                                    用户中心
                                </a>
                            </li>
                            <li>
                                <a tag="four_two" href="/back/u_set"  class="${userSelectedTag === 'four_two' ? 'active':''}">
                                    用户信息
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
        `;
        $("#lk_nav").html(t_html);
        //1.请求用户数据
        //1.1获取本地的token
        let token = JSON.parse(localStorage.getItem("result")).token;
        console.log(token); //5e1dd1f95ac11d5924cdccdf
        //1.2根据token请求用户信息
        if(token){
            //2.发起ajax请求
            $.ajax({
                url:"http://localhost:3040/back/user/api/u_msg/"+token,
                type:"get",
                dataType:"json",
                success:function(data){
                    console.log(data);
                    if(data.status === 200){
                        //2.1注入数据
                        let tpl = `
                            <div class="avatar img-circle">
                                <img src="${data.result.user_img !=='undefined'?'/uploads/'+data.result.user_img:'/uploads/avatar.png'}" class="img-circle pull-left" alt="">
                            </div>
                            <h4>${data.result.real_name}</h4>
                            `;
                        $("#person_msg").append(tpl);
                    }else{
                        alert("获取用户失败");
                    }
                }



            })
        }else{//如果token不存在
            //删除本地数据
            localStorage.removeItem("result");
            //跳转到登陆页面
            window.location.href = "/back/login";
        }

        //2.处理点击选中完成
        $("#lk_item>li>a").on("click",function () {
            //2.0 判断
            if($(this).attr("tag")!=="four"){
                sessionStorage.setItem("userSelectedTag","");
            }
            //.1存储选中的tag到本地
            sessionStorage.setItem("selectedTag",$(this).attr("tag"));
        });

        $("#user_item>li>a").on("click",function () {
            sessionStorage.setItem("selectedTag","four");
            sessionStorage.setItem("userSelectedTag",$(this).attr("tag"));
        });
    });
</script>
