{% extends "back/base.html"%}

<!--新增的样式-->
{% block style %}
<style>
    .preview {
        width: 100%;
        height: 120px;
        padding: 0;
        /*margin-left: 15px;*/
        overflow: hidden;
        position: relative;
    }
    .preview:hover .cover {
        background-color: rgba(0, 0, 0, 0.4);
    }
    .preview:hover .fa-upload {
        color: rgba(240, 240, 240, 0.8);
    }
    #upfile {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 120px;
        font-size: 40px;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.3s;
    }
    .fa-upload {
        color: rgba(240, 240, 240, 0);
    }

</style>
{% endblock %}

<!--主要内容-->
{% block body %}
    <div class="container-fluid">
    <div class="body advert">
        <!-- 面包屑 -->
        <ol class="breadcrumb">
            <li><a href="/back/source_list">资源文章管理</a></li>
            <li class="active">编辑文章</li>
        </ol>
        <div class="advert-add">

        </div>
    </div>
</div>
{% endblock %}

<!--脚本-->
{% block script %}
<script>
    $(function () {
        loadData();
    });
    function loadData(){
        let url = window.location.search,sourceId="";
        if(url.indexOf("?")!=="-1"){//有？
            sourceId = url.substr(url.indexOf("=")+1);
        }
        console.log(url,sourceId);
        //2.发起ajax请求
        $.ajax({
            url:"http://localhost:3040/back/source/api/single/"+sourceId,
            type:"get",
            dataType:"json",
            success:function(data){
                //2.1 注入数据
                let tpl = `
                <form action="/back/source/api/edit" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">文章标题</label>
                    <div class="col-md-5">
                        <input name="title" type="text" class="form-control input-sm" placeholder="请填写文章标题" value="${data.result.title}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">作者</label>
                    <div class="col-md-5">
                        <input name="author" type="text" class="form-control input-sm" placeholder="请填写作者名称" value="${data.result.author}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">缩略图</label>
                    <div class="col-md-5">
                        <div class="col-md-2 preview">
                            <img id="small_img" src="/uploads/${data.result.small_img}" style="border: 1px solid #e0e0e0;">
                            <input type="file" id="upfile">
                            <div class="cover">
                                <i class="fa fa-upload"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">价格</label>
                    <div class="col-md-5">
                        <input name="price" type="text" class="form-control input-sm" placeholder="请填写价格" value="${data.result.price}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">文章内容</label>
                    <div class="col-md-7">
                        <!--第三方编辑器-->
                        <div id="editor"></div>
                    </div>
                </div>
            </form>
                `;
                $(".advert-add").append(tpl);
                //2.2上传图片的加载处理
                $("#upfile").on("change",function () {
                    //2.2.1获取用户上传的图片文件 $(this).get(0).files[0]
                    let file = $(this).get(0).files[0];
                    //2.2.2读取这个文件
                    let src = "";
                    let reader = new FileReader();
                    if(file){
                        reader.readAsDataURL(file);
                    }else{
                        src = ""
                    }
                    //2.2.3监听文件是否读取完毕
                    reader.onloadend = function () {
                        $("#image_url").attr("src",this.result);
                    }

                });
                //2.3 提交表单
                //2.3.1 后去修改后的表单数据
                $("#btn_edit").on("click",function () {
                    let id = data.result._id;
                    let image_title = $("#image_title").val();
                    //判断，url是否有值，有：传新值；无：传旧值
                    let image_url = $("#upfile").get(0).files[0] || data.result.image_url;
                    let image_link = $("#image_link").val();
                    let s_time = $("#s_time").val();
                    let e_time = $("#e_time").val();
                    // console.log(id,image_title,image_url,image_link,s_time,e_time);

                    //2.3.2 创建formData对象
                    let formData = new FormData();
                    formData.append("id",id);
                    formData.append("image_title",image_title);
                    formData.append("image_url",image_url);
                    formData.append("image_link",image_link);
                    formData.append("s_time",s_time);
                    formData.append("e_time",e_time);
                    //2.3.3 发起ajax请求
                    let $form = $("form");
                    $.ajax({
                        url:$form.attr("action"),
                        type:$form.attr("method"),
                        data:formData,
                        processData:false,//传递原生数据
                        contentType:false,//不要设置请求头

                        success:function (data) {
                            console.log(data);
                            if (data.status === 200){
                                alert("轮播图修改成功！");
                                window.location.href = "/back/s_list"
                            }else {
                                alert("轮播图修改失败！")
                            }
                        }

                    });
                })


            }

        })
    }
</script>
{% endblock %}

