{% extends "back/base.html"%}


<!--新增的样式-->
{% block style %}
{% endblock %}

<!--主要内容-->
{% block body %}
    <div class="container-fluid">
    <div class="body advert">
        <ol class="breadcrumb">
            <li><a href="/back/source_list">资源文章管理</a></li>
            <li class="active">文章列表</li>
        </ol>
        <div class="page-title">
            <a href="/back/source_add" class="btn btn-danger btn-sm pull-right">添加资源文章</a>
        </div>
        <div class="panel panel-default">
            {% if sources.length>0 %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>序号</td>
                        <th>标题</th>
                        <th>缩略图</th>
                        <th>是否收藏</th>
                        <th>价格</th>
                        <th>作者</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <!--因为我们已经通过express集成了nunjucks模板，所有能够使用{}-->
                {% for source in sources%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{source.title}}</td>
                        <td>
                            <img src="/uploads/{{source.small_img}}" alt="" style="width: 200px">
                        </td>
                        <td>{{source.is_store}}</td>
                        <td>{{source.price}}</td>
                        <td>{{source.author}}</td>
                        <td>
                            <a data-id="{{sowing._id}}" class="btn btn-primary btn-xs btn-edit">编辑</a>
                            <a data-id="{{sowing._id}}" class="btn btn-danger btn-xs btn-del">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>
                <img src="./images/liao.jpg" style="width: 200px;margin: 0 auto;" alt="">
                <h3 style="text-align: center">小撩温馨提示：页面还没有轮播图呦，赶紧去添加吧~</h3>
            </div>
            {% endif%}
        </div>
    </div>
</div>
{% endblock %}

<!--脚本-->
{% block script %}
<script>
    $(function () {
        //点击了修改按钮
        $(".btn-edit").on("click",function(){
            //将当前数据的id作为一个属性，绑定在“编辑”按钮上
            let sowingId = $(this).attr("data-id");
            //传递id
            window.location.href = `/back/s_edit?sid=${sowingId}`;

        });
        //点击了删除按钮
        $(".btn-del").on("click",function(){
            //将当前数据的id作为一个属性，绑定在“编辑”按钮上
            let sowingId = $(this).attr("data-id");
            //发起ajax请求
            $.ajax({
                url:"http://localhost:3040/back/sowing/api/remove/" + sowingId,
                type:"get",
                dataType:"json",
                success:function (data) {
                    console.log(data);
                    if(data.status === 200){
                        alert("删除成功");
                        window.location.reload();
                    }else{
                        alert("删除失败");
                    }
                }

            })

        });


    });
</script>
{% endblock %}
