{% extends "back/base.html"%}


<!--新增的样式-->
{% block style %}
{% endblock %}

<!--主要内容-->
{% block body %}
    <div class="container-fluid">
    <div class="body advert">
        <ol class="breadcrumb">
            <li><a href="/back/s_list">轮播图管理</a></li>
            <li class="active">轮播图列表</li>
        </ol>
        <div class="page-title">
            <a href="/back/s_add" class="btn btn-danger btn-sm pull-right">添加轮播图</a>
        </div>
        <div class="panel panel-default">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>序号</td>
                        <th>图片名称</th>
                        <th>图片缩略图</th>
                        <th>跳转链接</th>
                        <th>上架时间</th>
                        <th>下架时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <!--因为我们已经通过express集成了nunjucks模板，所有能够使用{}-->
                {% for sowing in sowings%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{sowing.image_title}}</td>
                        <td>
                            <img src="/uploads/{{sowing.image_url}}" alt="" style="width: 200px">
                        </td>
                        <td>{{sowing.image_link}}</td>
                        <td>{{sowing.s_time}}</td>
                        <td>{{sowing.e_time}}</td>
                        <td>
                            <a href="javascript:;" class="btn btn-primary btn-xs">编辑</a>
                            <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

<!--脚本-->
{% block script %}

{% endblock %}
